fastapi
uvicorn[standard]
pydantic[email]
firebase-admin
python-multipart
pyrebase4
requests
SQLAlchemy
google-genai
slowapi
stripe
psycopg2-binary
Pillow
python-dotenv
opencv-python-headless
numpy
beautifulsoup4


